<button (click)="nextRandomPhoto()">
  Get Next Random Photo
</button>
<br />
<button (click)="addMorePhotos()">
  Force Adding More Photos
</button>
<br />
<div>
  <p>totalPhotoNumber: {{totPhotoNum}}, lastBundleSize: {{photoBundleSize}}</p>
  <p>photoDisplayIndex: {{photoDisplayIndex}}, photoStreamIndex: {{photoStreamIndex}}</p>
  <p>type: {{mainFramePhotoType}}</p>
  <img src="{{mainFramePhotoUrl}}">
</div>

<br />
<button (click)="addToFavorites()">
  Favorite Photo
</button>
<br />

<div class="text-center">
  <div class="col-sm-8 offset-sm-2">
    <a routerLink="/social-media" class="btn btn-link">Share</a>
  </div>
</div>