<h2>Share poofie on Social Media</h2>
<br>

<p>Share the current poofie cutie on your social media :)</p>
<div class="jumbotron text-center">
    <div class="row">
        <div class="col">
            <app-twitter url={{mainFramePhotoUrl}}></app-twitter>
        </div>
        <div class="col">
            <app-facebook url={{mainFramePhotoUrl}}></app-facebook>
        </div>
        <div class="col">
            <app-pinterest url={{mainFramePhotoUrl}}></app-pinterest>
        </div>
    </div>
</div>